.dashboard-container {
  display: flex;
  height: 100vh;
  
}


.sidebar {
  width: 240px;
  min-height: 100vh;
  background: var(--sidebar-bg);
  color: var(--sidebar-text);
  display: flex;
  flex-direction: column;
  padding: 24px 20px 14px 20px;
  box-shadow: 2px 0 17px rgba(0,0,0,0.05);
}

.sidebar-header{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 22px;
}

.sidebar-logo {
  font-size: 2rem;
  font-weight: bold;
  padding: 24px 16px;
  
}
.sidebar-title{
  font-weight: 700;
  font-size: 1.3rem;
  color: #4d536a;
  letter-spacing: 0.03em;
}

.sidebar-menu {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 10px 15px;
  border-radius: 8px;
  color: var(--sidebar-text-muted);
  text-decoration: none;
  font-size: 1.04rem;
  font-weight: 500;
  background: transparent;
  transition: background .16s, color .16s;
}

.sidebar-link.active,
.sidebar-link:hover {
  background: var(--sidebar-active-bg);
  color: var(--sidebar-primary);
}

.sidebar-link span {
  font-size: 1.22rem;
  opacity: 0.72;
}

.sidebar-profile {
  margin-top: 100px;
  border-top: 1px solid #efefef;
  padding:18px 0 8px 0;
}

.sidebar-profile-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-username {
  font-weight: 700;
  font-size: 1.08rem;
  color: var(--sidebar-primary);
}

.sidebar-email {
  font-size: 0.97rem;
  color: var(--sidebar-text-muted);
}

.logout-btn {
  font-size: 1.2rem;
  background: none;
  border: none;
  color: #444;
  opacity: 0.7;
  cursor: pointer;
  padding: 2px 0;
  transition: color 0.12s, opacity 0.14s;
}

@media (max-width: 650px) {
  .sidebar {
    width: 98vw;
    max-width: 380px;
    min-width: 0;
    padding: 17px 7px 7px 7px;
  }}


.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 36px 54px;
  overflow-y: auto;
}

.next-match-card,
.stats-summary-card,
.calendar-card,
.profile{
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 18px 0 rgba(54,47,77,0.06);
  margin-bottom: 10px;
  padding: 20px 28px;
  
}

.next-match-info,
.stats-summary-content {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.btn-edit-match {
  background: #AFD024;
  color: #4D536A;
  border: none;
  border-radius: 8px;
  padding: 10px 24px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}
.btn-edit-match:hover {
  background: #f8bb30;
}
.calendar-placeholder {
  min-height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbb;
  font-size: 1.3rem;
}

/*Estilos del dashboard del admin*/

.ranking-activos-list{
   display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

