/*Hemos reutilizado los estilos de la pagina principal*/


/*Caja del formulario*/
.register-panel{
   flex:1 1 50%;
   order:2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.register-content{
   width: 100%;
  max-width: 450px;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel-text{
  color:#9ea3b2;
  font-size: 1rem;
  margin-bottom: 25px;
  text-align: center;
}

/*Estilo del titulo*/
.register-title{
 font-family:'Inter', sans-serif;
  font-size:2rem;
  margin-bottom: 10px;
  color: #2c3457;
  letter-spacing: -0.5px;
}

.form-register{
  display: flex;
  flex-direction: column;
  gap:18px;
}


.panel-login{
 margin-top: 35px;
  font-size: 1rem;
  color:#9ea3b2;
  display: flex;
  align-items: center;
  gap:8px;
}

/*Estilo del boton de iniciar sesion*/
.login-btn{
   border:none;
  background: none;
  color: #2c3457;
  font-weight: 600;
  font-size: 1rem;
  padding: 2px 6px;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s;
}

.login-btn:hover{
  color:#64a2fc;
}

.register-imagen{
  display: flex;
  align-items: center;
  justify-content: center;
  flex:1 1 50%;
  
 
}
.register-imagen img{
  max-width: 100%;
  max-height: 100vh;
  height: auto;
  object-fit: contain;
  display:block;
  
   
}

/*Responsivo para tablets*/ 
.register-panel, .register-imagen {
    flex: 1 1 100%;
    width: 100%;
    min-height: 250px;
    height: auto;
    justify-content: center;
    align-items: center;
    order: unset;
    padding: 0 10px;
  }
  .register-content {
    max-width: 95vw;
    margin-top: 25px;
    padding: 0 8px;
  }
  .register-imagen img {
    max-width: 350px;
    margin: 0 auto;
    max-height: 35vh;
  }



/*Responsivo para moviles*/
@media (max-width: 600px) {
  .form-register{
    padding:10px 10px 10px 10px;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .register-panel, .register-imagen {
    flex: 1 1 100%;
    width: 100%;
    min-height: unset;
    height: auto;
    padding: 0;
  }
  .register-panel {
    order: 1;
  }
  .register-imagen {
    order: 2;
    margin-bottom: 15px;
    margin-top:15px;
  }
.register-title {
    font-size: 1.4rem;
    margin: 150px 0 8px 0;
    text-align: center;
    width: 100%;
    display: block;
  }
   .panel-text {
    font-size: 0.98rem;
    margin-bottom: 14px;
    text-align: center;
  
  }


  .register-content {
    max-width: 100vw;
    margin-top: 16px;
    padding: 0 5vw;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
  }

  .form-input{
    padding: 12px 20px;
    display: block;
    width: 90%;
    align-items: center;
  }
  .register-imagen img {
    width: 90vw;
    max-width: 330px;
    max-height: 25vh;
    margin: 0 auto 6px auto;
  }
}