/**Los estilos del sidebar ya vienen heredados, 
aplicamos estilos a contenido principal, gestion de partidos */

.ranking-main h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  
}

.parejas-lista,
.listado-parejas-creadas,
.partidos-generados {
  margin-bottom: 32px;
  background: #fff;
  padding: 18px 24px 16px 24px;
  border-radius: 9px;
  box-shadow: 0 1px 4px #dae9ff40;  
}

ul{
  list-style: none;
  margin: 0 0 16px 0;
  padding: 0;
}  

ul li {
    background: #fafafa;
  padding: 10px 14px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  
}
ul li input[type="checkbox"] {
  margin-right: 14px;
  accent-color: #3066be;
  width: 18px;
  height: 18px;
}

.btn-crear {
  background: #afd024;
  border: none;
  border-radius: 5px;
  padding: 5px 14px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;

}

.btn-crear[disabled] {
  background: #b0b0b0;
  cursor: not-allowed;
  box-shadow: none;
}
.separator {
  margin: 0 18px;
  font-weight: bold;
  color: #4d536a;
  letter-spacing: 2px;
}

.parejas-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Estilos del grid*/
.usuarios-grid {
  display: flex;
  gap: 36px;
  overflow-x: auto;
  padding-bottom: 8px;
  margin-bottom: 20px;
  max-width: 100%;
}
.usuarios-columna {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 230px;
}
.usuarios-columna li {
  background: #fafafa;
  padding: 10px 18px;          
  margin-bottom: 13px;        
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-sizing: border-box;     
  min-height: 38px;           
  font-size: 1.04rem;
  word-break: break-word;     
}
.usuarios-columna li input[type="checkbox"] {
  margin-right: 14px;
  accent-color: #3066be;
  width: 20px;
  height: 20px;
}